azul = #0D5F97
gris = #DADEE3
gris_oscuro = #6E767D

body
	background gris
	font-family Electrolize
	font-size 17px
	text-align center

@font-face
	font-family Electrolize
	font-style normal
	src url(fonts/Electrolize.ttf)

.boton-default
	border 1px solid azul
	color azul
	display block
	margin 0.5em auto
	padding 0.5em
	width 100%
	
.contenedor-botones
	position absolute
	left 50%
	top 60%
	margin -50px 0 0 -75px
	height 100px
	width 150px

.contenedor-logo
	position absolute
	left 50%
	top 40%
	margin -85px 0 0 -150px
	height 170px
	width 300px

	.logo
		position absolute
		left 0
		display inline-block
		margin 0 auto
		width 150px

	.label-editor
		position absolute
		top 30%
		right 0
		font-size 37px
		color gris_oscuro
		vertical-align middle

footer
	background white
	border 1px solid azul
	bottom 0
	font-family Electrolize
	font-size 12px
	left 0
	right 0
	margin 0 auto
	position absolute
	text-align center
	width 95%

	.empresa
		display block
		font-weight lighter

	.autor
		display block
		font-weight lighter
